<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-tittle"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
        </div>
        <div class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="banner"><img src="images/img-home-banner.jpg" alt="Imagen de main"></div>
    <main>
        <p class="titulares"><strong>Basado en tu última visita</strong></p>
        <div class="main">
            <div class="cajaArticulos1">
                <div class="cajaArticulos">
                    <div class="articulos">
                        <div class="fotoarticulos"><img src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
                        </div>
                        <div class="infoarticulo">
                            <i class="fas fa-truck"></i>
                            <div class="caja2">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                        </div>
                    </div>
                    <div class="articulos">
                        <div class="fotoarticulos"><img src="images/img-macbook-pro-2019.jpg" alt="Imagen macbook">
                        </div>
                        <div class="infoarticulo">
                            <i class="fas fa-truck"></i>
                            <div class="caja2">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% OFF</p>
                            </div>
                            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                        </div>
                    </div>
                </div>
                <div class="cajaArticulos">
                    <div class="articulos">
                        <div class="fotoarticulos"><img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen cell"></div>
                        <div class="infoarticulo">
                            <i class="fas fa-truck"></i>
                            <div class="caja2">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">10% OFF</p>
                            </div>
                            <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                        </div>
                    </div>
                    <div class="articulos">
                        <div class="fotoarticulos"><img src="images/img-tv-samsung-smart.jpg" alt="Imagen tv"></div>
                        <div class="infoarticulo">
                            <i class="fas fa-truck"></i>
                            <div class="caja2">
                                <p class="precios">$23.200</p>
                                <p class="descuentos">5% OFF</p>
                            </div>
                            <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="titulares"><strong>Sección de Ofertas</strong></p>
            <div class="cajaArticulos1">
                <div class="cajaArticulos">
                    <div class="articulos">
                        <div class="infoarticulo">
                            <div class="fotoarticulos"><img src="images/img-cafetera-moulinex.jpg"
                                    alt="Imagen cafetera">
                            </div>
                            <div class="infoarticulo">
                                <i class="fas fa-truck"></i>
                                <div class="caja2">
                                    <p class="precios">$6.770</p>
                                    <p class="descuentos">40% OFF</p>
                                </div>
                                <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="articulos">
                        <div class="fotoarticulos"><img src="images/img-macbook-pro-2019.jpg" alt="Imagen macbook">
                        </div>
                        <div class="infoarticulo">
                            <i class="fas fa-truck"></i>
                            <div class="caja2">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% OFF</p>
                            </div>
                            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                        </div>
                    </div>
                </div>
                <div class="cajaArticulos">
                    <div class="articulos">
                        <div class="fotoarticulos"><img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen cell"></div>
                        <div class="infoarticulo">
                            <i class="fas fa-truck"></i>
                            <div class="caja2">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">10% OFF</p>
                            </div>
                            <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                        </div>
                    </div>
                    <div class="articulos">
                        <div class="fotoarticulos"><img src="images/img-tv-samsung-smart.jpg" alt="Imagen tv"></div>
                        <div class="infoarticulo">
                            <i class="fas fa-truck"></i>
                            <div class="caja2">
                                <p class="precios">$23.200</p>
                                <p class="descuentos">5% OFF</p>
                            </div>
                            <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </main>
    <footer>
        <div><i class="fas fa-credit-card"></i></div>
        <p class="subtitulo"><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p class="cuadrotexto">Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
            ¡Y siempre es
            seguro!</p>
        <div><i class="fas fa-gift"></i></div>
        <p class="subtitulo"><strong>Envío gratis desde $ 2.500</strong></p>
        <p class="cuadrotexto">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es
            un beneficio de
            MercadoPuntos.</p>
        <div><i class="fas fa-user-shield"></i></div>
        <p class="subtitulo"><strong>Seguridad, de principio a fin</strong></p>
        <p class="cuadrotexto">¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer porque estás
            siempre
            protegid@.</p>
    </footer>
    <div class="derechos"><p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p></div>
</body>

</html>