<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>register</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-tittle"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <div class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <h2 class="bienvenida">¡Registrate y viví una experiencia completa de compra!</h2>
        <form class="register" action="/register" method="post">
            <div class="nombreApellido"><input type="text" required placeholder="Nombre y apellido" pattern="^[A-Za-z ]*$"></div>
            <div class="nombreUsuario"><input type="text" required placeholder="Nombre de usuario"
                    pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"></div>
            <div class="email"><input type="email" required placeholder="E-mail"
                    pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"></div>
            <div class="fechaNacimiento"><label for="fechaNacimiento">Fecha de nacimiento</label></div>
            <div class="calendario"><input type="date" name="fechaNacimiento1"></div>
            <div class="domicilio"><input type="text" required placeholder="Domicilio" pattern="^[A-Za-z ]*$"></div>
            <div class="perfilUsuario"><p>Perfil del usuario</p></div>
            <label class="perfilUsuario1">
                <label>Comprador
                    <input name="perfilUsuario" type="radio" value="Comprador" />
                </label>
                <label>Vendedor
                    <input name="perfilUsuario" type="radio" value="Vendedor" />
                </label>
            </label>
            <div class="intereses"><p>Intereses</p></div>
            <div class="interes-container">
                <label class="intereses1">
                    <input type="checkbox" name="intereses" value="Electro">
                    <p>Electro</p>
                </label>
                <label class="intereses1">
                    <input type="checkbox" name="intereses" value="Moda">
                    <p>Moda</p>
                </label>
                <label class="intereses1">
                    <input type="checkbox" name="intereses" value="Hogar">
                    <p>Hogar</p>
                </label>
                <label class="intereses1">
                    <input type="checkbox" name="intereses" value="Jugueteria">
                    <p>Jugueteria</p>
                </label>
                <label class="intereses1">
                    <input type="checkbox" name="intereses" value="Vida sana">
                    <p>Vida sana</p>
                </label>
            </div>
            <div class="imagenPerfil"><p>Imagen de perfil</p></div>
            <div class="avatar"><input type="file" name="avatar" accept=".jpg .png" multiple=""></div>
            <div class="contraseña"><label for="contraseña"></label>
                <input type="password" name="password" placeholder="Contraseña" id="password" pattern="[A-Za-z0-9!?-]{8,12}" required="">
            </div>
            <div class="contraseña"> <label for="contraseña"></label>
                <input type="password" name="password" placeholder="Confirmar Contraseña" id="passwrod" pattern="[A-Za-z0-9!?-]{8,12}" required="">
            </div>
            <div class="botones-container">
                <div class="boton-enviar"><button class="botones" type="submit">Enviar</button></div>
                <div class="boton-borrar"><button class="botones" type="reset">Borrar</button></div>
            </div>
        </form>
    </main>
    <footer>
        <div><i class="fas fa-credit-card"></i></div>
        <p class="subtitulo"><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p class="cuadrotexto">Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
            ¡Y siempre es
            seguro!</p>
        <div><i class="fas fa-gift"></i></div>
        <p class="subtitulo"><strong>Envío gratis desde $ 2.500</strong></p>
        <p class="cuadrotexto">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es
            un beneficio de
            MercadoPuntos.</p>
        <div><i class="fas fa-user-shield"></i></div>
        <p class="subtitulo"><strong>Seguridad, de principio a fin</strong></p>
        <p class="cuadrotexto">¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer porque estás
            siempre
            protegid@.</p>
    </footer>
    <div class="derechos"><p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p></div>
</body>

</html>