<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <form action="#" method="post">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
        <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario">
        <input type="email" name="eMail" id="eMail" placeholder="E-mail">
        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="date" name="fechaNacimiento1">
        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
        <label for="perfilUsuario">Perfil del usuario</label>
        <label>
            <input type="radio" name="perfilDeUsuario" value="Comprador">
            <input type="radio" name="perfilDeUsuario" value="Vendedor">
        </label>
        <label for="intereses">Intereses</label>
        <label>
            <input type="checkbox" name="intereses" value="Electro">
            <input type="checkbox" name="intereses" value="Moda">
            <input type="checkbox" name="intereses" value="Hogar">
            <input type="checkbox" name="intereses" value="Jugueteria">
            <input type="checkbox" name="intereses" value="Vida sana">
        </label>

    </form>
</body>

</html>