* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grisClaro);
}

a {
    text-decoration: none;
    color: var(--negro);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* HEADER*/

header {
    /*border: 3px solid green;*/
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
}

.logo-container {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
}

.menu-container {
    /*border: 3px solid red;*/
    display: none;
}

.burger-container {
    /*border: 3px solid red;*/
    display: flex;
    justify-content: center;
}

.logo-bar-container {
    /*border: 3px solid gray;*/
    display: flex;
}

.card-container {
    /*border: 3px solid gray;*/
    padding: 15px;
}

.logo {
    /*border: 3px solid pink;*/
    width: 50%;
    padding: 10px;
}

.search-button-container {
    /*border: 3px solid pink;*/
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-container {
    /*border: 3px solid brown;*/
    display: flex;
    height: 25px;
    width: 90%;
}

.card-tittle {
    font-weight: 400;
    text-align: center;
}

.card-tittle i {
    margin-right: 10px;
}

input {
    width: 95%;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
}

button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
}

.burger-menu {
    border: 1px solid black;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);
}

/*FIN HEADER*/

/*BANNER*/

.banner img {
    width: 100%;
    object-fit: cover;
}

/*FIN BANNER*/

/*MAIN*/

.fotoarticulos img {
    width: 100%;
    object-fit: cover;
}

main {
    width: 90vw;
    margin: auto;
}

.articulos {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--blanco);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.infoarticulo {
    background-color: var(--blanco);
    border-top: 1px solid var(--grisClaro);
    padding: 15px;
    position: relative;
}

.titulares {
    color: var(--grisOscuro);
}

.descripciones {
    display: none;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.descuentos {
    color: var(--verde);
    width: 70%;
}

.caja2 {
    display: flex;
}

.precios {
    width: 30%;
}

.bienvenida {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombreApellido,
.nombreUsuario,
.email {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.fechaNacimiento, .perfilUsuario, .intereses, .imagenPerfil {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.calendario {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.domicilio {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.perfilUsuario1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 15px;
}

.interes-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.intereses1 {
    display: flex;
    width: 20%;
    margin-bottom: 10px;
}

.avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    padding-bottom: 15px;
    align-items: stretch;
    align-content: center;
    margin: auto;
}

.contraseña {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

form {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    padding-top: 20px;
    padding-bottom: 20px;
}

.botones-container {
    display: flex;
    justify-content: center;
    width: 50%;
    justify-content: space-evenly;
}

.botones {
    height: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.mainLogin {
    width: 90vw;
    margin: auto;
}

.acceso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-container, .contraseñaLogin {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.iniciarSesion {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recuperar {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}

.boton-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonLogin {
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    margin-bottom: 10px;
}

.ingresarLogin {
    width: 50%;
    background-color: var(--grisMedio);
    border-radius: 5px;
    border: 1px solid var(--grisOscuro);
    font-weight: bold;
}

.register-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.acceso {
    font-size: 14px;
}

.acceder {
    margin-right: 15px;
}

/*FIN MAIN*/

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.fa-credit-card {
    font-size: 2em;
    color: var(--azul);
}

.fa-gift {
    font-size: 2em;
    color: var(--azul);
}

.fa-user-shield {
    font-size: 2em;
    color: var(--azul);
}

.iconoFooter {
    text-align: center;
}

.subtitulo {
    color: var(--grisOscuro);
    text-align: center;
}

.cuadrotexto {
    text-align: center;
    margin: 0px 30px 50px 30px;
    color: var(--grisOscuro);
}

.derechos {
    color: var(--grisOscuro);
    display: flex;
    justify-content: left;
    padding-left: 20px;
    background-color: var(--blanco);
}

footer {
    background-color: var(--blanco);
}

